---
import Layout from "@/layouts/Layout.astro";
import Head from "@/components/Head.astro";
import Title from "@/components/Title.astro";
import { Image } from "astro:assets";
import blur from "/src/assets/img/bg.png";
import PortfolioCard from "@/components/PortfolioCard.astro";

export const prerender = true;

let title = Astro.props;
---

<Head title="Filmography" />
<Layout class="relative">
  <div class="grid mt-[11.1111%] content-center">
    <Title text="Filmography" />
  </div>
  <!-- ABOUT ME -->
  <section class="grid px-3 lg:px-0 content-start text-white">
    <div class="grid grid-rows-auto content-center gap-5 pb-10 mt-[11.1111%]">
      <PortfolioCard
        videoId="SsC1MI9NvSs?si=QxZcCiTkTOxW0j7s"
        alt={title}
        site="https://www.youtube.com/watch?v=SsC1MI9NvSs"
        title="Table No.21   "
        description="Written By Shantanu."
      />
      <PortfolioCard
        videoId="3BL1il6lmTA?si=ZJ-8KZqzClyKYD45"
        alt={title}
        site="https://www.youtube.com/watch?v=3BL1il6lmTA"
        title="Aa Dekhen Zara"
        description="Written by Shantanu."
      />
      <PortfolioCard
        videoId="e0pdoezNhmc?si=lN1wz7Vto-4NRP4l"
        alt={title}
        site="https://youtu.be/e0pdoezNhmc"
        title="Alone"
        description=" Written by Shantanu."
      />
      <PortfolioCard
        videoId="EJMRk9CTbBY?si=ro9Q7WfGniJAv50z"
        alt={title}
        site="https://youtu.be/EJMRk9CTbBY"
        title="3G"
        description="Written And Directed By Shantanu."
      />
      <PortfolioCard
        videoId="Zf5S3ntloBk?si=Q9ETuWtKS9P4UsKD"
        alt={title}
        site="https://youtu.be/Zf5S3ntloBk"
        title="Guddu Ki Gun "
        description="Written And Directed By Shantanu."
      />
      <PortfolioCard
        videoId="Y2L_DWe1mlU?si=U83l9V1J-R8Q_XFt"
        alt={title}
        site="https://youtu.be/Y2L_DWe1mlU"
        title="Bombers  "
        description="Written By Shantanu."
      />
      <PortfolioCard
        videoId="nD82ZhhZF_8?si=qUX1xQE5w-_2QCFK"
        alt={title}
        site="https://youtu.be/nD82ZhhZF_8"
        title="Dybbuk"
        description=" Written by Shantanu."
      />

      <!-- Add similar PortfolioCard components for other projects -->
    </div>
  </section>
</Layout>
